<% session = Stripe::Checkout::Session.retrieve(params[:session_id]) %>

<h2> Payment Success! </h2>

<h3> Put an order summary here </h3>

<p> Thanks for your order <%= current_user.fname%>

<%= @bookings %>