<div class="hero">
    <%= image_tag "hero-img2.jpg", class: "hero-img"%>
    <div class="header">
        <h1>whiskr</h1>

    </div>

</div>

    <div class="container marketing">
      <div class="row">

          <div class="col-lg-4 text-center">
            <%= image_tag 'signup.png', class: "rounded-circle spot", alt: "Clipboard Image"%>
              <h2>Sign Up</h2>
              <p>Join us as a Pet Parent or start helping pets as a Veterinary Nurse!</p>
              <p><a class="btn btn-secondary" href="#" role="button">Sign Up Now &raquo;</a></p>
          </div><!-- /.col-lg-4 -->

          <div class="col-lg-4 text-center">
            <%= image_tag 'nurse.png', class: "rounded-circle spot", alt: "Nurse Image"%>
              <h2>Find a Nurse</h2>
              <p>Find a qualified and insured mobile veterinary nurse in your area.</p>
              <p><a class="btn btn-secondary" href="#" role="button">Let's Go! &raquo;</a></p>
          </div><!-- /.col-lg-4 -->

          <div class="col-lg-4 text-center">
            <%= image_tag 'about.png', class: "rounded-circle spot", alt: "About Image"%>              <h2>About</h2>
              <p>We help find care for pets in the comfort of their own home.</p>
              <p><a class="btn btn-secondary" href="#" role="button">Learn More... &raquo;</a></p>
          </div><!-- /.col-lg-4 -->

      </div><!-- /.row -->
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It’ll blow your mind.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Oh yeah, it’s that good. <span class="text-muted">See for yourself.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
      </div>
    </div>


    Icons made by <a href="https://www.flaticon.com/authors/icon-pond" title="Icon Pond">Icon Pond</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>