<div class="hero">
    <%= image_tag "hero-img2.jpg", class: "hero-img"%>
    <div class="header">
        <h1>whiskr</h1>
        <h4>Care in the comfort of their own home </h4>
    </div>

</div>
<p>Find me in app/views/pages/home.html.erb</p>

Welcome to Whiskr
