/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

/* 
font-family: 'Lato', sans-serif;
font-family: 'Sacramento', cursive; */

/* #EAEAEB - Platinum
#C5C3C6 - Silver
#1D1E20 - Eerie Black
#4c5C68 - Black Coral
#1985A1 - Blue Munsell */


// @import "../../../node_modules/rfs/scss";
@import "bootstrap";
@import "pets";
@import "pages";
@import "services";

.content-container {
  margin-top: 100px;
  margin-left: 70px;
}

.title {
    // @include responsive-font-size(200px);
    font-size: 200px;
    font-family: 'Sacramento', cursive; 
    position: absolute;
    top: 70px;
    left: 50px;
    color: #C5C3C6;
    text-shadow: 3px 3px #4c5C68;
    
    margin-bottom: 60px;
}

.featurette {
  margin: 10px 0px;
  padding: 10px 0px;
}
.f1 {
  background-color: #eaeaeb71;
}

.topnav {
    background-color: #1985A1;
    opacity: 80%;
    font-size: 20px;
    a {
        color: #1D1E20;
        text-decoration: none;
        padding: 2px; 
        transition: .15s ease-in-out}
      
      a:visited {
        color: #1D1E20; }
      
      a:hover {
        color: #4c5C68;
       }
  }

  .spot {
    height: 140px;
    width: 140px;
  }