/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

/* 
font-family: 'Lato', sans-serif;
font-family: 'Sacramento', cursive; */

/* #EAEAEB - Platinum
#C5C3C6 - Silver
#1D1E20 - Eerie Black
#4c5C68 - Black Coral
#1985A1 - Blue Munsell */
@import "bootstrap";
@import "pets";
@import "pages";
@import "services";

.topnav {
    background-color: #1985A1;
    overflow: hidden;
    text-align: center;
    opacity: 70%;
    font-size: 20px;
    padding: 15px;
    margin: 0px;
    display: flexbox;
    a {
        color: #1D1E20;
        text-decoration: none;
        padding: 10px; 
        transition: .3s ease-in-out}
      
      a:visited {
        color: #1D1E20; }
      
      a:hover {
        color: #4c5C68;
       }
  }

  h1 {
    font-family: 'Sacramento', cursive; 
    font-size: 200px;
    margin-bottom: 60px;
  }