// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.hero-img {
    width: 100%;
    max-height: 100%;
}

.mini-hero {
    max-width: 400px;
    max-height: 400px;
    padding: 15px;
}

.user-image {
    height: 180px;
    width: 180px;
    border-radius: 50%;
    margin-bottom: 20px;

}

.mb-4 {
    height: 80px;
    opacity: 0.8;
}

.form-signin {
    margin-top: 150px;
    width: 40%;
    background-color: #C5C3C680;
    padding: 40px;
    border-radius: 10px;
}

.card-container {
    display: flexbox;
}

.prof-card {
    display: inline-block;
    background-color: #C5C3C680;
    border-radius: 20px;
    margin: 10px;
}

.services-header {
    margin-top: 30px;
}

.services-list {
    max-width: 80%;
    a {
        color: #1D1E20;
        text-decoration: none;
        padding: 6px; 
        transition: .15s ease-in-out;
        font-size: 16px;}
      
      a:visited {
        color: #1D1E20; }
    
}

.service {
    background-color: #eaeaeb;
    border-radius: 15px;
    padding: 10px;

}

.service:hover {
    background-color: #eaeaeb50;
}

.table-wrapper {
    max-width: 70%;
}