// Place all the styles related to the Pets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.pet-image {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}